.xrk-alert {
  padding: 22px 30px;
  text-align: center;
  background: #ffeff1;
  font-size: 24px;
  font-weight: 400;
  color: hsl(0 , 100% , 65%);
  line-height: 36px;

  .icon {
    margin-right: 24px;
    font-size: 28px;
  }
}
