.xrk-popover {
  display: inline-block;

  &-plane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $portalIndex;
  }

  &-show {
    display: inline-block;
    animation: XrkPopoverShow 0.2s;
  }

  &-hide {
    display: inline-block;
    opacity: 0;
    animation: XrkPopoverHide 0.2s;
  }
}

@keyframes XrkPopoverShow {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes XrkPopoverHide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
