.xrk-popover {
  display: inline-block;

  &-plane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $portalIndex;
  }

  &-show {
    animation: XrkPopoverShow 0.2s;
  }

  &-hide {
    animation: XrkPopoverHide 0.2s;
  }
}

@keyframes XrkPopoverShow {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
    transform-origin: center;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
}

@keyframes XrkPopoverHide {
  0% {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }

  100% {
    transform: scale(0.3);
    opacity: 0;
    transform-origin: center;
  }
}
