.xrk-toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $portalIndex;
  flex-direction: column;

  &-actions {
    pointer-events: auto;
  }

  .xrk-toast-item {
    display: inline-flex;
    background-color: $toastBg;
    color: $white;
    font-size: 30px;
    padding: 24px 40px;
    border-radius: 78px;
    margin-bottom: 20px;
    line-height: 30px;
    pointer-events: none;
    align-items: center;

    &.show {
      animation: toastShow 0.25s;
    }

    &.hide {
      animation: toastHide 0.25s;
    }
  }

  .xrk-toast-icon {
    width: 34px;
    height: 34px;
    margin-right: 16px;
  }
}

@keyframes toastShow {
  0% {
    opacity: 0;
    transform: translate(0 , 150px) translateZ(1px);
  }

  100% {
    opacity: 1;
    transform: translate(0 , 0%) translateZ(1px);
  }
}

@keyframes toastHide {
  0% {
    opacity: 1;
    transform: translate(0 , 0%) translateZ(1px);
  }

  100% {
    opacity: 0;
    transform: translate(0 , -150px) translateZ(1px);
  }
}
