.xrk-tag {
  box-sizing: border-box;
  white-space: nowrap;

  &-large {
    height: 46px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 0 8px;
    border-radius: 8px;
    border: 2px solid rgba($color: #000 , $alpha: 0);
  }

  &-middle {
    height: 42px;
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin: 0 8px;
    border-radius: 8px;
    border: 2px solid rgba($color: #000 , $alpha: 0);
  }

  &-small {
    padding: 0 9px;
    border-radius: 6px;
    height: 30px;
    font-size: 21px;
    line-height: normal;
    font-weight: bolder;
    margin: 0 8px;
    border: 1px solid rgba($color: #000 , $alpha: 0);
  }

  &-mini {
    padding: 0 8px;
    border-radius: 6px;
    height: 26px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
    margin: 0 6px;
    border: 1px solid rgba($color: #000 , $alpha: 0);
  }

  &-primary {
    background-color: $primary;
    color: $text1;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $primary , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $primary;
    }
  }

  &-warn {
    background-color: $warn;
    color: $error;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $warn , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $warn;
    }
  }

  &-error {
    background-color: $error;
    color: $white;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $error , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $error;
    }
  }

  &-link {
    background-color: $link;
    color: $white;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $link , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $link;
    }
  }

  &-pop {
    background-color: $pop;
    color: $white;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $pop , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $pop;
    }
  }

  &-defautl {
    background-color: $defualt;
    color: $white;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $defualt , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $defualt;
    }
  }

  &-urgent {
    background-color: $urgentBack;
    color: $urgent;

    &.xrk-tag-ghost {
      border: 1px solid rgba($color: $urgent , $alpha: 1);
      background-color: rgba($color: $white , $alpha: 0);
      color: $urgent;
    }
  }

  &-activity {
    background: $activity;
    color: $white;
    font-style: oblique;
  }
}
