$prefix: xrk-btn;

.#{$prefix} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: opacity 0.1s;
  margin: 0 $btnMargin;
  cursor: pointer;
  border-color: rgba($color: #000 , $alpha: 0);
  border-width: 2px;

  &:active {
    opacity: 0.7;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-mini {
    height: 42px;
    border-radius: 22px;
    padding: 0 16px;
    font-size: 18px;
    line-height: 18px;

    &.#{$prefix}-icon {
      min-width: 42px;
    }

    &.#{$prefix}-auto {
      width: 100px;
    }
  }

  &-small {
    height: 50px;
    border-radius: 25px;
    padding: 0 24px;
    font-size: 22px;
    line-height: 22px;

    &.#{$prefix}-icon {
      min-width: 50px;
    }

    &.#{$prefix}-auto {
      width: 120px;
    }
  }

  &-middle {
    padding: 0 24px;
    height: 60px;
    border-radius: 35px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 24px;

    &.#{$prefix}-icon {
      min-width: 60px;
    }

    &.#{$prefix}-auto {
      width: 270px;
    }
  }

  &-large {
    height: 70px;
    padding: 0 32px;
    border-radius: 35px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 30px;

    &.#{$prefix}-icon {
      min-width: 70px;
    }

    &.#{$prefix}-auto {
      width: 418px;
    }
  }

  &-big {
    height: 80px;
    padding: 0 32px;
    border-radius: 40px;
    font-weight: bolder;
    font-size: 32px;
    line-height: 32px;

    &.#{$prefix}-icon {
      min-width: 80px;
    }

    &.#{$prefix}-auto {
      width: 690px;
    }
  }

  &-max {
    padding: 0 32px;
    height: 98px;
    border-radius: 48px;
    font-size: 34px;
    font-weight: bolder;
    line-height: 34px;

    &.#{$prefix}-icon {
      min-width: 98px;
    }

    &.#{$prefix}-auto {
      width: 690px;
    }
  }

  &-primary {
    background-color: $primary;
    color: $text1;

    &.#{$prefix}-ghost {
      border-color: $primary;
      color: $text1;
      background-color: $primaryBack;
    }
  }

  &-warn {
    background-color: $warn;
    color: $error;

    &.#{prefix}-disabled {
      color: $text2;
    }

    &.#{$prefix}-ghost {
      border-color: $error;
      color: $error;
      background-color: $warn;
    }
  }

  &-error {
    background-color: $error;
    color: $white;

    &.#{$prefix}-ghost {
      border-color: $error;
      color: $error;
    }
  }

  &-link {
    background-color: $white;
    color: $link;
    min-width: auto;

    &.#{$prefix}-ghost {
      border-color: $link;
      color: $link;
    }
  }

  &-pop {
    background-color: $pop;
    color: $white;

    &.#{$prefix}-ghost {
      border-color: $pop;
      color: $pop;
    }
  }

  &-default {
    background-color: $defualt;
  }

  &-light {
    background-color: $white;
  }

  &-block {
    display: flex !important;
    flex: 1;
    width: unset !important;
  }

  &-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &-ghost {
    background-color: rgba($color: #000 , $alpha: 0);
    border-width: 2px;
    border-style: solid;
  }

  &-icon {
    padding: 0 16px;
  }

  &-child-icon .xrk-icon {
    padding-left: 16px;
  }
}
