.xrk-money {
  &-mark {
    font-style: normal;
    font-size: 10px;
  }

  &-middle {
    font-size: 40px;
  }

  &-large {
    font-size: 60px;

    .xrk-money-mark {
      font-size: 30px;
    }
  }

  &-small {
    font-size: 30px;

    .xrk-money-mark {
      font-size: 20px;
    }
  }
}
