.xrk-cell {
  width: 100%;
  min-height: $cellHeight;
  background-color: $white;
  padding: 20px $pad;
  box-sizing: border-box;
  font-size: $cellSize;
  line-height: $cellSize;
  transition: opacity 0.1s;
  white-space: nowrap;

  &:active {
    opacity: 0.7;
  }

  &.xrk-cell-disable {
    background-color: $disable;
    opacity: 0.3;

    &:active {
      background-color: $disable;
      opacity: 0.3;
    }
  }

  &-label {
    width: $cellWidth;
    font-weight: 400;
    color: $text2;
  }

  &-value {
    flex: 1;
    color: $text1;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-suffix {
    color: $text2;

    .xrk-icon {
      color: $text2;
    }
  }
}

.xrk-cell-list-line {
  >.xrk-cell {
    border-bottom: 2px solid $bg;

    &:last-child {
      border-bottom: none;
    }
  }
}
