.corn-search {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 24px 12px;

  &-back {
    font-size: 24px;
    margin-right: 32px;
  }

  &-input-box {
    flex: 1;
    height: 62px;
    border-radius: 31px;
    box-sizing: border-box;
    position: relative;
    // padding: 17px 24px 17px 64px;
    overflow: hidden;
    background-color: $searchDefualtColor;
  }

  &-input {
    display: block;
    padding-left: 80px;
    height: 62px;
    font-size: 28px;
    font-weight: 400;
    color: $text1;
    line-height: 62px;
    flex: 1;
  }

  &-icon {
    position: absolute;
    font-size: 24px;
    color: $icon2;
    top: 19px;
    left: 24px;
    line-height: 24px;
  }

  &-clear {
    font-size: 24px;
    line-height: 24px;
    color: $icon2;
    height: 62px;
    width: 62px;
    z-index: 10;
    margin-right: 10px;
  }

  &-btn {
    height: 62px;
    font-weight: 400;
    width: 116px;
    margin-left: 0;
  }

  &-suffix {
    padding-left: 34px;
  }

  &-light {
    background-color: rgba($color: #fff , $alpha: 1);

    .corn-search-input-box {
      background-color: $searchLightColor;
    }
  }

  &-placeholder {
    width: 450px;
    height: 28px;
    overflow: hidden;
    pointer-events: none;
    font-size: 28px;
    font-weight: 400;
    color: $text3;
    line-height: 28px;
    position: absolute;
    z-index: 2;
    left: 64px;
    top: 17px;

    &-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: top 0.5s;
    }

    &-item {
      height: 30px;
    }
  }
}
