.corn-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    display: block;
  }

  &-text {
    color: $text1;
    padding-top: $pad;
    display: block;
    text-align: center;
  }

  &-direction {
    font-size: 28px;
    font-weight: 400;
    color: $text2;
    line-height: 42px;
  }

  &-children {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-large {
    padding: 100px 0;

    .corn-empty-text {
      font-size: 36px;
    }

    .corn-empty-img {
      max-width: 360px;
      max-height: 360px;
    }

    .corn-empty-children {
      padding-top: 100px;
    }
  }

  &-middle {
    padding: 60px 0;

    .corn-empty-text {
      font-size: 28px;
    }

    .corn-empty-img {
      max-width: 300px;
      max-height: 300px;
    }

    .corn-empty-children {
      padding-top: 60px;
    }
  }

  &-small {
    padding: $pad 0;

    .corn-empty-text {
      font-size: 22px;
    }

    .corn-empty-img {
      max-width: 240px;
      max-height: 240px;
    }

    .corn-empty-children {
      padding-top: $pad;
    }
  }
}
