.xrk-tab {
  overflow-y: hidden;
  overflow-x: auto;
  height: 90px;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 0;
  }

  &.xrk-tab-button {
    height: 60px;
    justify-content: space-between;
  }

  &-item {
    height: 90px;
    white-space: nowrap;
    line-height: 90px;
    font-size: 32px;
    font-weight: 400;
    color: $text2;
    position: relative;
    flex: 1;
    text-align: center;
    padding: 0 20px;

    &:first-child.active::before {
      transform: translate(calc(-50% - 10px) , 0);
    }

    &:last-child.active::before {
      transform: translate(calc(-50% + 10px) , 0);
    }

    &-active {
      font-size: 38px;
      font-weight: bold;
      color: $text1;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        background-image: url('../../../assets/img/tab-active.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        height: 30px;
        position: absolute;
        z-index: -1;
        top: 52px;
        left: 50%;
        transform: translate(-50% , 0);
        contain: layout;
      }
    }

    &-icon {
      height: 90px;

      img {
        width: unset;
      }
    }

    &-message {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background: $urgent;
        border-radius: 16px;
        position: absolute;
        right: -20px;
        top: 10px;
      }
    }
  }
}
